body {
    font-family: "Raleway", Arial, sans-serif;
    background: #d5dce7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 63px;
}

.container {
    border: solid 1px #8d8d8d;
    padding: 30px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container .logo {
    display: relative;
    margin: 0 auto 15px auto;
    margin-top: -10px;
    width: 100px;
    max-width: 120px;
}

.container .heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #0d0f15;
    line-height: 28px;
}

.form {
    max-width: 230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    position: relative;
}

.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 1px #0034de;
}

.input-field input:focus~label,
.input-field input:valid~label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 40px;
}

.person{
  color: rgb(55, 58, 60);
  font-size: 18px;       
  position: absolute;    
  right: 28px; 
  top: 10px;          
  pointer-events: none;  
}

.lock{
  color: rgb(55, 58, 60);
  font-size: 18px;       
  position: absolute;    
  right: 25px; 
  top: 10px;          
  pointer-events: none;  
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
  font: inherit;
  background: linear-gradient(135deg, #0034de, #006eff);
  border: 0;
  color: #fff;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5em 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #002cbb; /* brilho interno tipo uiverse */
  box-shadow: 
    inset 0 0.0625em 0 0 #0070f0, 
    0 0.0625em 0 0 #002cbb,
    0 0.125em 0 0 #001a80,
    0 0.25em 0 0 #000d38,
    0 0.3em 0.4em 0 rgba(0, 0, 0, 0.4);
  transition: 0.15s ease;
  cursor: pointer;
}

.btn:active {
  translate: 0 0.2em;
  box-shadow: 
    inset 0 0.03em 0 0 #0070f0,
    0 0.03em 0 0 #002cbb,
    0 0.08em 0 0 #001a80,
    0 0.15em 0 0 #000d38,
    0 0.2em 0.3em 0 rgba(0, 0, 0, 0.4);
}
